* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
body{
  user-select: none;
}
.container-app {
  display: flex;
  flex-direction: column;
  padding: 40px;
 margin: auto;
 margin-top: 30px;

  width: 40%;
  height: auto;
  border-radius: 20px;
  background-color: violet;
  box-shadow: 2px 2px 5px grey;
}
.image {
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
.wrapper-typing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.input-typing {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  text-transform: lowercase;
}
.input-typing::placeholder {
  color: blue;
}
.input-typing:hover{
  cursor: pointer;
}
.button-typing {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(42, 2, 42);
  color: white;
  font-size: 1em;
  text-transform: lowercase;
}
.button-typing:hover {
  background-color: black;
    cursor: pointer;
}
.ul-list {
  font-size: 1em;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
li {
  color: rgb(255, 255, 255);
  list-style-type: none;
  box-shadow: 3px 2px 5px grey, -2px -1px 5px grey;
  text-align: center;
  padding: 10px;
  border-radius: 0.5em;
  background-color: rgb(162, 30, 162);
}
li:hover {
  background-color: rgb(92, 70, 74);
}
.wrapper-typing {
  margin-top: 20px;
}
